body {
    height: 100vh;
}

.phone-status__header-bar {
    position: sticky;
    top: 0px;
}

@keyframes kakaobackground {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
        z-index: -2;
    }
}

@keyframes under {
    0% {
        display: none;
    }

    100% {
        display: flex;
    }
}

.underbar-animation {
    animation: under 2s ease-in-out forwards;
}